<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layout}">
<head>
  <title>Clients</title>
  <style>
.column {
    float: left;
    width: 20%;
    padding: 10px;
}



.column2 {
    float: left;
    width: 80%;
    padding: 10px;
}

.card-acteur{
float: left;
    width: 30%;
    padding: 10px;
}
</style>
  
</head>
<body>
 <form data-toggle="validator" role="form" th:object="${personne}"  th:action="@{/personne/save}" method="post"  enctype="multipart/form-data">
    <input type="hidden" th:text="*{id}" />
<section layout:fragment="header">
  <h1>Clients</h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">FILM Details</li>
  </ol>
</section>
<div layout:fragment="content">

<div class="column">

  <img th:src="kjhgfd"   class="profile-user-img img-responsive img-circle"
                    alt="film poster">
                    <br>
              <div >      
 <a href="/movies/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a> | 
    <a th:href="${'/movies/edit/' + movie.id}"><i class="fa fa-edit"></i></a> |
        <a th:href="${'/movies/delete/' + movie.id}"><i class="fa fa-trash"></i></a>
 </div>
 
 <br clear="all"/>

 
      <h1 ><label th:text="${movie.titre}"></label> <br></h1>

   <label>realise par  :</label>
      <a th:href="${'/personne/details/' + movie.realisateur.id}" th:text="${movie.realisateur.nom+' '+movie.realisateur.prenom}"></a><br>
 

      <label>nationalite :</label>
      <label th:text="${movie.nationalite}"></label><br>
    
      <label>Date Added :</label>
      <label th:text="${#dates.format(movie.addedDate, 'dd/MM/yyyy')}"></label> <br>
     



</div>

<div    class="column2" >
  <div class="box">
    <div class="box-header with-border">
      
      
      
      
      
      
      
      
      
      <div class="card-acteur">
       <div th:each="acteur : ${movie.acteurs}" style="background-color: aliceblue">
<div class="text-center">
  <img th:src="@{*{photo}}"   class="profile-user-img img-responsive img-circle"
                    alt="Actor/Director profile picture"> 
</div>
 <a th:href="${'/personne/details/' + acteur.id}" th:text="${acteur.nom+' '+acteur.prenom}"></a>
<p class="text-muted text-center">Acteur</p>
<ul class="list-group list-group-unbordered mb-3">
<li class="list-group-item">
<b>nationalite</b> <a class="float-right">1,322</a>
</li>
<li class="list-group-item">
<b>date de naissance</b> <a class="float-right">543</a>
</li>

</ul>
<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
</div>
</div>




</div>
    
      
        
    
    </div>
  
     



    </div>

  </div>
</div>
</div>
</form>
</body>
</html>


