<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{shared/layout}">
<head>
    <title>Registration Acteur/Réalisateur</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Ajouter Acteur/Realisateur</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Ajouter Movie</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulaire Movie</h3>
            <div class="box-tools pull-right">
                <a href="/movies" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${movie}"
              th:action="@{/movies/save}" method="post" enctype="multipart/form-data">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="Nom">Titre</label>
                    <input type="text" required="true" class="form-control" th:field="*{titre}" id="Nom" />
                </div>
                <div class="form-group">
                    <label for="Prenom">Durèe</label>
                    <input type="text" required="true" class="form-control" th:field="*{duree}" id="Prenom" />
                </div>
                <div class="form-group">
                    <label for="Anne">Anne</label>
                    <input type="text" required="true" class="form-control" th:field="*{duree}" id="Anne" />
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="dateNaissance">addedDate</label>-->
<!--                    <input type="date" value="1974-08-13" required="true" class="form-control" th:field="*{genre}" id="dateNaissance" />-->
<!--                </div>-->
                <div class="form-group">
<!--                    <label th:text="${#lists.size(listeRealisateur)}"></label>-->
                    <label for="typeRealisateur">Realisateur</label>
                    <select th:field="*{realisateur}" id="typeRealisateur" class="form-control">
                        <option th:each="real : ${listeRealisateur}"
                                th:value="${real.id}" th:text="${real.nom+' '+real.prenom}"
                                th:selected="(${realisateur} != null)?${real.id} == ${realisateur.id} : false">
                        </option>
                    </select>
                </div>
                <div class="form-group">
<!--                    <label th:text="${#lists.size(listeRealisateur)}"></label>-->
                    <label for="genre">Genre</label>
                    <select th:field="*{genre}" id="genre" class="form-control">
                        <option th:each="gr : ${listeGenres}"
                                th:value="${gr.id}" th:text="${gr.libelle}"
                                th:selected="(${genre} != null)?${gr.id} == ${genre.id} : false">
                        </option>
                    </select>
                </div>
                <div class="form-group">
<!--                    <label th:text="${#lists.size(listeActeur)}"></label>-->
                    <label for="typeActeur">Les Acteurs</label>
                    <select th:field="*{acteurs}" id="typeActeur" class="form-control" multiple>
                        <option th:each="act : ${listeActeur}"
                                th:value="${act.id}" th:text="${act.nom+' '+act.prenom}"
                                th:selected="(${acteurs} != null)?${act.id} == ${acteurs.id} : false">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nationalite">Nationalité</label>
                    <select th:field="*{nationalite}" id="nationalite">
                        <option th:each="nat : ${listeNationalites}"
                                th:value="${nat.id}" th:text="${nat.libelle}"
                                th:selected="(${nationalite} != null)?${nat.id} == ${nationalite.id} : false">
                        </option>
                    </select>
                </div>

            </div>
            <div class="box-footer">
                <button class="btn btn-primary" type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
