<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shared/layout}">
<head>
<title>Seance</title>
</head>
<body>
	<section layout:fragment="header">
		<h1>Ajouter Seance</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Ajouter Seance</li>
		</ol>
	</section>
<!-- 		<div layout:fragment="content"> -->
<!-- 		<div class="box"> -->
<!-- 		<h1>hello</h1> -->
<!-- 		</div> -->
<!-- 		</div> -->
	
	<div layout:fragment="content">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Formulaire d'ajout/Modification</h3>
				<div class="box-tools pull-right">
					<a href="/seance" type="button" class="btn btn-box-tool"><i
						class="fa fa-list-ul"></i></a>
				</div>
			</div>
		</div>
		<form data-toggle="validator" role="form" th:object="${seance}"
			th:action="@{/seance/save}" method="post"
			enctype="multipart/form-data">
			<div class="box-body">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<label for="dateProjection">Date de Projection</label> 
					<input type="date" value="1974-08-13" required="true" class="form-control" th:field="*{dateProjection}" id="dateNaissance" />
				</div>
				<div class="form-group">
					<label for="dateProjection">Heur Debut</label> 
					<input type="time" value="14:54" required="true" class="form-control" th:field="*{heureDebut}" id="heurDebut" />
				</div>
				<div class="form-group">
					<label for="dateProjection">Heur fin</label> 
					<label for="dateProjection">Heur fin</label> 
					<input type="time" value="14:34" required="true" class="form-control" th:field="*{heureFin}" id="heurFin" />
				</div>
				<div class="form-group">
					<label for="film">Film</label> 
					<select th:field="*{film}">
						<option th:each="films : ${listeFilms}" th:value="${films.id}" th:text="${films.titre}"
							th:selected="(${film} != null)?${films.id} == ${film.id} : false" >
							
							
						</option>
					</select>
				</div>





				<div class="form-group">
					<label for="salle">Salle</label> <select th:field="*{salle}">
						<option th:each="salles : ${listeSalle}" th:value="${salles.id}"
							th:text="${salles.numero}"
							th:selected="(${salle} != null)?${salles.id} == ${salle.id} : false">
						</option>
					</select>
				</div>




			</div>
			  <div class="box-footer">
                <button class="btn btn-primary" type="submit">Enregistrer</button>
            </div>
		</form>
	</div>
</body>
</html>
