<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/layout}">
<head>
<title>detail Acteur/Réalisateur</title>




<style>
.column {
    float: left;
    width: 20%;
    padding: 10px;
}



.column2 {
    float: left;
    width: 80%;
    padding: 10px;
}
</style>
</head>





<body>



   <div layout:fragment="content">
            <section layout:fragment="header">
                <h1>detail Acteur/Realisateur</h1>
            </section>
    <form data-toggle="validator" role="form" th:object="${personne}"  th:action="@{/personne/save}" method="post"  enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" />
        
                <div class="column">
                    
                        <img th:src="@{*{photo}}"   class="profile-user-img img-responsive img-circle"
                    alt="Actor/Director profile picture">    
                    
                </div>
                        <div class="column2">
                        <table  class="table table-striped">    
                        <tr><td>nom:</td>
                        <td><label for="Nom">Nom</label>
                    <input type="text" required="true" class="form-control" th:field="*{nom}" id="Nom" /></td>
                        </tr>                
                        <tr><td>prenom:</td>
                        <td> <label for="Prenom">Prenom</label>
                    <input type="text" required="true" class="form-control" th:field="*{prenom}" id="Prenom" /></td>
                        </tr>        
                        <tr><td>date de naissance:</td>
                        <td><label for="dateNaissance">Date de Naissance</label>
                    <input type="date" value="1974-08-13" required="true" class="form-control" th:field="*{dateNaissance}" id="dateNaissance" /></td>
                        </tr>                    
                        <tr><td>type:</td>
                        <td> <label for="typePersonne">Type</label>
                     <select th:field="*{typePersonne}" id="typePersonne" class="form-control">
                    <option th:value="ACTEUR" th:text="ACTEUR" th:selected="ACTEUR"> </option>
                    <option th:value="REALISATEUR" th:text="REALISATEUR"> </option>
                    </select></td>
                        </tr>
                        <tr><td>nationalite:</td>
                        <td> <label for="nationalite">Nationalité</label>
                    <select th:field="*{nationalite}">
                    <option th:each="nat : ${listeNationalites}"
                        th:value="${nat.id}" th:text="${nat.libelle}"
                        th:selected="(${nationalite} != null)?${nat.id} == ${nationalite.id} : false">
    </option>
</select></td>
                        </tr>
                        <tr><td>liste film:</td>
                        <td>asdfgh</td>
                        </tr>
                        </table>
                        </div>
        
    </form>
    </div>
</body>
</html>